<h1>Orders</h1>

<div class="mb-4 d-flex justify-content-between">
  <!-- Card for Total Earnings This Month -->
  <div class="card text-white bg-primary" style="width: 45%;">
    <div class="card-body">
      <h5 class="card-title">Total Earnings This Month:</h5>
      <p class="card-text"><strong><%= number_to_currency(@monthly_earnings) %></strong></p>
    </div>
  </div>

  <!-- Card for Total Earnings Today -->
  <div class="card text-white bg-success" style="width: 45%;">
    <div class="card-body">
      <h5 class="card-title">Total Earnings Today:</h5>
      <p class="card-text"><strong><%= number_to_currency(@daily_earnings) %></strong></p>
    </div>
  </div>
</div>

<%= form_with url: orders_path, method: :get, local: true do %>
  <div class="input-group mb-3">
    <input type="text" name="search" class="form-control" placeholder="Search orders..." value="<%= params[:search] %>">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
<% end %>

<% @grouped_orders.each do |product_name, orders| %>
  <h3><%= product_name %></h3>
  <!-- Orders table for this product -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Options</th>
        <th>Payment Status</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr>
          <td><%= order.kid_name %></td>
          <td><%= order.kid_class %></td>
          <td><%= order.email %></td>
          <td><%= order.phone_number %></td>
          <td><%= order.product.price %></td>
          <td><%= order.quantity %></td>
          <td>
            <% if order.options.present? && order.options != "{}" %>
                <p><strong>Selected Options:</strong></p>
                <ul>
                  <% if order.options.present? %>
                    <li><%= order.options %></li> 
                  <% else %>
                    <li>No options selected</li>
                  <% end %>
                </ul>
            <% else %>
                <p>No options selected.</p>
            <% end %>
          </td>
          <td><%= order.payment_status %></td>
         
          <td><%= order.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
