<h1>Orders</h1>

<div class="mb-4 d-flex justify-content-between">
  <!-- Card for Total Earnings This Month -->
  <div class="card text-white bg-primary" style="width: 45%;">
    <div class="card-body">
      <h5 class="card-title">Total Earnings This Month:</h5>
      <p class="card-text"><strong><%= number_to_currency(@monthly_earnings) %></strong></p>
    </div>
  </div>

  <!-- Card for Total Earnings Today -->
  <div class="card text-white bg-success" style="width: 45%;">
    <div class="card-body">
      <h5 class="card-title">Total Earnings Today:</h5>
      <p class="card-text"><strong><%= number_to_currency(@daily_earnings) %></strong></p>
    </div>
  </div>
</div>

<%= form_with url: orders_path, method: :get, local: true do %>
  <div class="input-group mb-3">
    <input type="text" name="search" class="form-control" placeholder="Search orders..." value="<%= params[:search] %>">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
<% end %>

<!-- Orders table -->
<table class="table">
  <thead>
    <tr>
      <th>Child's Name</th>
      <th>Child's Class</th>
      <th>Payment Information</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Options</th>
      <th>Status</th>
      <th>Actions</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.kid_name %></td>
        <td><%= order.kid_class %></td>
        <td><%= order.payment_info %></td>
        <td><%= order.product.name %></td>
        <td><%= order.quantity %></td>
        <td>
          <% if order.options.present? %>
            <% order.options.each do |option, value| %>
              <p><strong><%= option %>:</strong> <%= value %></p>
            <% end %>
          <% else %>
            <p>No options selected</p>
          <% end %>
        </td>
        <td><%= order.status %></td>
        <td>
          <% if order.status == 'pending' %>
            <%= button_to 'Mark as Complete', update_status_order_path(order), method: :patch, data: { confirm: 'Are you sure you want to mark this order as complete?' } %>
          <% end %>
        </td>
        <td><%= order.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
