<h1>Orders</h1>

<table class="table">
  <thead>
    <tr>
      <th>Child's Name</th>
      <th>Child's Class</th>
      <th>Payment Information</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Options</th>
      <th>Status</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.kid_name %></td>
        <td><%= order.kid_class %></td>
        <td><%= order.payment_info %></td>
        <td><%= order.product.name %></td>
        <td><%= order.quantity %></td>
        <td>
          <% if order.options.present? %>
            <% order.options.each do |option, value| %>
              <p><strong><%= option %>:</strong> <%= value %></p>
          <% end %>
          <% else %>
            <p>No options selected</p>
          <% end %>
        </td>

        <td><%= order.status %></td>
        <td><%= order.created_at.strftime("%B %d, %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
